@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:nnn987@126.com">nnn987@126.com</a><br />
</address>
